.App {
  text-align: center;
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
/*header*/
.logo-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-box{
  display: flex;
  justify-content: center;
}
.nav-box{
  display: flex;
  justify-content: space-evenly;
  background: rgba(59, 153, 252, .5);
  padding:25px;
}
.logo{
  width: 20%;
  height: 25%;
  margin: 0 auto;
  margin: 2%;
}

/*text design*/
.text-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 35%;
  background: rgba(59, 153, 252, .7);
  color: white;
  border-radius: 25px;
  margin-top: 1%;
}

.exploredword{
  color: green;
}
 /*body container for encounter & capture pokemons*/
.body-container{
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}
.pokeencounter-container{
  margin: 1%;
  display: flex;
  flex-direction: column;
  background-color: #e0f2f1;
  flex: 1;
  border-radius: 20px;
  height: 550px;
}
.captured-container{
  margin: 1%;
  display: flex;
  flex-direction: column;
  background-color: #e0f2f1;
  flex: 1;
  border-radius: 20px;
  height: 550px;
}

.pokeencounter-box{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 13px;
  color:white;
  background-color: #369143;
  border-radius: 20px;
  text-transform: uppercase;
  width: 100%;
}

.detailed{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.found{
  display: flex;
  justify-content:space-evenly;
  width: 100%;
}
.found img {
  margin: 0 auto;
  margin-top: 15%;
  width: 50%;
}
#pokemon_Encounter h1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: uppercase;
}
.found button {
  margin: 0 auto;
  margin-top: 20%;
}
#pokemon_Encounter{
  width: 50%;
  margin-left: 15%;
  border: none;
  margin-top: 5%;
  display: flex;
}
.pokemonstats{
  display: flex;
  margin-right: 15%;
  margin-top: 5%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.pokemonstats p{
  margin-left: 25%;
  text-transform: uppercase;
}
.pokemonstats h2{
  text-align: center;
  text-transform: uppercase;
}

.captured-box{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 13px;
  color:white;
  background-color: #369143;
  border-radius: 20px;
  text-transform: uppercase;
  width: 100%;
}

.captured-box span{
  color: red;
}

.capturedlist-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  overflow: hidden;
}
.capturedlist-item{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin: 3%;
  font-weight: bold;
  text-transform: uppercase;
}