
/*button design*/
.explore-btn{

    display: inline-block;
    border-radius: 4px;
    background-color: #4DAD5B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle
  }
  .explore-btn span{
      cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .explore-btn span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .explore-btn:hover span {
      padding-right: 25px;
    }
    
    .explore-btn:hover span:after {
      opacity: 1;
      right: 0;
    }
    .explore-btn:hover{
      background-color: #369143;
    }